body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6dd5fa, #dfa410);
    color: #fff;
  }
 
  .weather-app {
    text-align: center;
    padding: 20px;
  }
 
  .header h1 {
    margin: 20px 0;
  }
 
  .search-container {
    margin: 20px 0;
  }
 
  .search-container input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
  }
 
  .search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
 
  .search-container button:hover {
    background-color: #2980b9;
  }
 
  .loading {
    font-size: 18px;
  }
 
  .error {
    color: #ff4d4d;
    font-weight: bold;
  }
 
  .weather-info {
    margin-top: 20px;
    background: rgb(111, 110, 110);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 2px 3px white, 
    2px 3px 4px white;
  }
 
  .weather-info h2 {
    margin-top: 0;
  }
 
  .weather-info img {
    vertical-align: middle;
  }
 
  .weather-info p {
    margin: 5px 0;
    font-size: 16px;
  }
 
